service-definition.json
service-definition.jsone
task-definition.json
task-definition.jsone
service-scale-in-policy.json
service-scale-in-policy.jsone
service-scale-out-policy.json
service-scale-out-policy.jsone
